.bash_history
.cache/
.conda/
.config/
.gitconfig
.lesshst
.python_history
.theano/
.vim/
.viminfo
.wget-hsts
databases/english
miniconda3/
submission.zip
misc/Miniconda3-latest-Linux-x86_64.sh
*.abx
tools/info_test/english/by-context-across-speakers.abx
tools/info_test/english/by-context-by-speakers.abx    

